# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.coverage
coverage.xml
*.cover
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# Virtual environments
.env/
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# IDEs & editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Misc
*.orig
